.footer {
  width: 100%;
}

.footer > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
}

.footer > ul li > a {
  position: relative;
}

.footer > ul li > a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #3a302d;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .2s;
}

.footer > ul li > a:hover::after {
  transform: scale(1, 1);
}
